{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "globals": {
    "document": false
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "camelcase": [0, { "properties": "never" }],
    "import/prefer-default-export": [0, {}],
    "no-lonely-if": [0, {}],
    "react/sort-comp": [0, {}],
    "no-else-return": [0, {}],
    "no-nested-ternary": [0, {}],
    "no-unneeded-ternary": ["error", { "defaultAssignment": true }],
    "import/no-extraneous-dependencies": [0, {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}],
    "jsx-a11y/anchor-is-valid": [0, {"components": [ "Link" ] }],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "no-throw-literal": 0,
    "object-curly-newline": [0, {
        "ObjectExpression": "never",
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
    }],
    "max-len": [2, {
      "code": 155,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }]
  }
}
